// colors
$global-background: #1e1b1c;
$navbar-bg-color: #1e1b1c;
$card-background: #4f4649;

$bg-orange: #fff3dc;
$bg-grey: #f1f1f1;
$bg-green: #edfeed;
$bg-red: #ffeee6;
$bg-blue: #e6f0ff;

$default-text-color: white;
$subtext-color: rgba(0, 0, 0, 0.5);
$error-color: #e63946;
$purple: #8055fa;
$green: #c7ef00;
$black: #1e1b1c;
$red: #b23a48;
$twitter-color: #1da1f2;

// fonts
$text-font: "Nunito", sans-serif;
$header-font: "Asap", sans-serif;

// alignment
$navbar-height: 80px;
$side-padding: 5%;
